
header {
    background-color: #333; 
    color: white; 
    padding: 20px; 
    text-align: center; 

}

header h1 {
    margin: 0; 
    font-size: 36px; 
    font-weight: bold; 
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}
.social-icons {
    display: flex;
    justify-content: center; 
    gap: 10px; 
}

.social-icons img {
    width: 50px; 
    height: 50px; 
    object-fit: cover; 
}

section {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #DBE2EF;

}

section h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}


section p {
    font-size: 16px;
    color: #555;
    line-height: 1.5;

#about {
    background-color: #e0f7fa; 
    border: 1px solid #80deea; 
}

#about h2 {
    color: #006064; 
}

#about p {
    color: #00838f; 
}

@front-face {
    font-family: 'Amiri-Bold';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('C:\Users\ZhED.23.FREE\Desktop') format ('woff2')
}